@charset "UTF-8";

body{
	background-image:url("file:///Users/sahilpal/eclipse-workspace/SessionMangementDemoMVC/src/main/webapp/resources/images/home.jpg");
	background-size:100%;
}

.header{
	font-family:sans-serif;
	font-size:27px;
	color:#a1ff68;
}


.links{
	text-align:center;
    font-family:sans-serif; 
    font-size:25px;
}

h1{
		text-align:center;
		text-size:25px;
}

.send-logout{
	background: #0066A2;
	color: black;
	border-style: outset;
	border-color: #0066A2;
	height: 80px;
	width: 120px;
	font: bold 25px arial, sans-serif;
}