@charset "UTF-8";

	.header{
		color: blue;
    	letter-spacing: 5px;
    	font-family: monospace;
    	font-size: 100px;
    }
    
    .form{
		font-size:18px;
		color: black;
		font-family:Monaco;
		padding: 30px 32px;
		display: block;
  		width: 93.8%;
  		border: solid black;
  		background-color: #af996a;
  		
  	}
    
 