<?xml version="1.0" encoding="UTF-8"?>

<beans 

	xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

	
    <!-- Define your beans here i.e. Objects of the classes to be formed -->
    
    <bean id = "footballCoach" scope="singleton"
          class="beanLifeCycle.football"
          init-method = "start"
          destroy-method = "stop"
          lazy-init ="false">
          <constructor-arg name="ifortune" ref="fortune"/>
          <constructor-arg name="name" value="sahil"/>
          <constructor-arg name="e_mail" value="sahil@123"/>
          <constructor-arg name="team_name" value="INDIA"/>
    </bean>
    
    <bean id="fortune"
          class="beanLifeCycle.Fortune">
    </bean>
    
    
</beans>