<?xml version="1.0" encoding="UTF-8"?>
<beans 

	xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">
    
    <bean id = "user" class="MiniProject.Customer">
    	<property name="docs" ref = "documents"/>
    	<property name="add" ref = "address"/>
    	<property name="ldetails" ref = "loandetails"/>
    </bean>
    
    
    <bean id = "documents" class="MiniProject.documents" >
    </bean>
    
    <bean id = "address" class="MiniProject.Address">
    </bean>
    
    <bean id = "loandetails" class="MiniProject.LoanDetails">
    </bean>
    
    <bean id ="loanprocessing" class="MiniProject.LoanProcessing">
    	<property name="db" ref="database" />
    	<property name="user" ref="user"/>
	</bean>    
	
	<bean id ="database" class="MiniProject.dataBase">
		<property name = "register" value = "com.mysql.cj.jdbc.Driver"/>
		<property name = "database" value ="URL/>
    	<property name = "username" value = "root"/>
    	<property name = "password" value = "********"/>
    </bean>

    
</beans>
