  body{
		padding: 20px;
		background-color: lightyellow;
		margin-left:auto;
		margin-right:auto;
		width=100%;
		height=100%;
	}
	
	h2{
		text-align:center;
		font-family: fantasy;
	}
	
	h1{
		font-family:Cursive;
	}