<?xml version="1.0" encoding="UTF-8"?>
<beans 

	xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

	<bean id = "employee" class="AutoWiring.Employee" autowire="byType">
	</bean>
	
	<bean id = "dept" class="AutoWiring.Department">
		<property name="dept_number"     value = "1"/>
		<property name="dept_manager"  value = "Sahil"/>
	</bean>
	
	<bean id = "add"  class="AutoWiring.Address">
		<property name="pincode" value = "122102"/>
		<property name="state" value = "haryana"/>
	</bean>
	
</beans>